.cart{
    background-color: rgba(250, 166, 38, 0.468);
    padding: 25px;
    position: sticky;
    top: 0;
}
.clear-all-btn{
    width: 90%;
    height: 56px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    border-radius: 8px;
    background-color: #FF3030;
    color: white;
}
.deleteIcon{
    color: white;
}

